/* TODO Add site wide styles */

  button {
    background-color: black;
    border: 0px;
    cursor: pointer;
    color: white;
  }

  button:hover {
    color: gray;
    border: white
  }


  .hidden {
    display: none;
  }

  a, h1, h2, p {
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }


  html {
    background-color: black;
    padding: 8px;
    /* color: white; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }
