/* WorkoutsPage.css */

.workouts-page, .my-workouts-page {
  text-align: center;
}

.workout-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Create columns that adjust based on browser size */
  gap: 10px; /* Adjust the gap between spots */
  margin-top: 30px; /* Add margin to the top */
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
}

.workout {
  /* display: flex;
  flex-direction: column; */
  margin-top: 15px;
  margin-right: 1px;
  border: 2px solid #323131; /* Set your desired border style */
  border-radius: 10px;
  padding-right: 20px;
  /* justify-content: space-evenly; */
}

.workout-img {
  max-width: 100%;
  height: 200px;
  width: 400px;
  object-fit: cover;
}

/* Media query for smaller screens, two columns */
@media (max-width: 700px) {
  .workout {
    width: 100%
  }
}

/* Media query for even smaller screens, one column */
@media (max-width: 576px) {
  .workout {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .workout-wrapper {
    grid-template-columns: repeat(4, 1fr); /* Set a fixed number of columns for larger screens */
  }
}
